<configuration>
  <jmxConfigurator />
  <appender name="app" class="ch.qos.logback.core.FileAppender">
  <file>/var/log/log-server/app.log</file>
    <append>true</append>
    <encoder>
      <pattern>%date [%level:%thread] %c{1} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Appender для записей уровня WARN и ERROR -->
  <appender name="app-warn" class="ch.qos.logback.core.FileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <file>/var/log/log-server/app-warn.log</file>
    <encoder>
      <pattern>%date [%level:%thread] %c{1} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <encoder>
      <pattern>[%level] %logger{15} - %message%n%xException{20}</pattern>
    </encoder>
  </appender>

  <logger name="org.apache.http" level="ERROR"/>

  <root level="INFO">
    <appender-ref ref="app"/>
    <appender-ref ref="app-warn"/>
    <appender-ref ref="STDERR"/>
  </root>
</configuration>
